.App {
  text-align: center;
  min-width: 320px;
}

.App-header {
  height: 350px;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-circle {
  margin-top: -140px;
  max-height: 300px;
  max-width: 300px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* mobile */
@media (max-width: 480px) {
  .App-header {
    background-image: url(images/blurry_tram.jpg);
  }
}

/* tablet */
@media (min-width: 418px) and (max-width: 768px) {
  .App-header {
    background-image: url(images/blurry_tram.jpg);
  }
}

/* desktop */
@media (min-width: 769px) and (max-width: 1024px) {
  .App-header {
    background-image: url(images/blurry_tram.jpg);
  }
}

/* large desktop */
@media (min-width: 1025px) {
  .App-header {
    background-image: url(images/blurry_tram.jpg);
  }
}
